# Rectify the code in each cell and **explain the error in comments**

### index error

In [61]:
mylist=[14, "hello", 967]
# invalid index, because index ist out of range. Index should be between 0 and len(mylist)-1 =2
#mylist[6]
mylist[2]

967

In [60]:
# Module (Pandas/NumPy) could not be found. The 'P' and 'N' Letter should be lowercase.
#import Pandas
#import NumPy
import pandas
import numpy

# syntax error

In [62]:
# Syntax Error because Print need always parenthese and NameError because an Object "Print" is not defined and could not
# be found
#Print"python errors"
print("python errors")

python errors

# key error

In [63]:
mydictionnary={True:"hello",False:"bye", '3':"python"}
# There no Str Key ='True' in mydictionnary (Key could not be found in the dictionary "mydictionnary"), but the is the 
#bool Key = True 
# mydictionnary['True']
mydictionnary[True]

'hello'

# indentation error

In [66]:
# An incorrect indentation is occured.(4 Space was forgotten) 
i=14
while i<78:
    print(i)
    i+=1

14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77

# StopIteration

In [67]:
# the next() function goes beyond the iterator items. We can correct it by commenting the last one out or add Default 
#Value for the last One, if the iterator is exhausted.
it=iter([1,2,3])
next(it)
next(it)
next(it)
#next(it) or
next(it,"it has thus been corrected")

'it has thus been corrected'

# TypeError

In [68]:
# operation is applied to an object of an inappropriate type. we cannot apply the '+ on Different Types.
#'15'+15
'15'+'15'
# or 
15 + 15

30

# ValueError

In [69]:
# the function's argument is of an inappropriate type. The 'int' function can only be used on numbers
#int('python')
# for example the float Number 5.4 or the integer 5 
int(5.4)
#or
int(5)

5

# NameError

In [70]:
#An object 'python' could not be found, because it is not defined.
#python
python = "Hello"
python

'Hello'

# ZeroDivisionError

In [71]:
# The second operator in the division is zero. So we have to switch it with another Number different from 0.
#x=19/0
# 5.0 for example
x=19/5.0
x

3.8